<?xml version="1.0" encoding="UTF-8"?>
<!-- P2-2: structured logback with traceId MDC -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{traceId:-}] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}","thread":"%thread","traceId":"%X{traceId:-}","level":"%-5level","logger":"%logger{36}","message":"%msg"}%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- spring.profiles.active=json-log to use JSON appender -->
    <springProfile name="json-log">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <springProfile name="!json-log">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="com.insurance.ruleengine" level="DEBUG"/>
</configuration>
